# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Freya Gentz
	email = zegentzy@protonmail.com
	signingkey = DA18D21C030A482DB0FF2D3B9E15D69E28E7F48C
[commit]
	gpgsign = true
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
