*
*/
!.config
.config/*
!.gitignore
!.gitattributes
!.zshrc
!.ctags
!.passwords.kdbx
!.gitconfig

!.ccache
.ccache/*
!.ccache/ccache.conf

!.config/nvim
!.config/nvim/**
.config/nvim/dein
.config/nvim/dein/
.config/nvim/dein/*

!.config/hexchat/hexchat.conf
!.config/hexchat/colors.conf

!utils
!utils/**
!confs
!confs/**

!.config/redshift.conf
!.zfunc
!.zfunc/**
!.bashrc
!build.sh
!killwine
!latinlinks
!.config/i3/config
!.config/xfce4/terminal/terminalrc
!.xinitrc
!.xmodmap
!.conkyrc
!hide-and-play.ogg
